body {
  font-family: 'Montserrat';
  margin-bottom: 0;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat';
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #000;
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* navbardesign */
.navbar-brand {
  font-size: 2.5em;
  font-family: 'Ubuntu';
  font-weight: bold;
}

.navbar-nav {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
  margin: 0 10px;
}

/* title */
.rotate-img {
  transform: rotate(25deg);
  margin-top: 50px;
}

@media (max-width: 990px) {
  .rotate-img {
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.check {
  text-align: center;
}

.fa-solid {
  color: #ef8172;
  margin-bottom: 10px;
}

.fa-solid:hover {
  color: #ff4c68;
}

.iphone-img {
  width: 60%;
}

/* features */
#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  bottom: 250px;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
  position: relative;
  bottom: 200px;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press-section */
#press {
  background-color: #ff4c68;
  position: relative;
  bottom: 300px;
  text-align: center;
  padding: 7% 12%;
}

.press-img {
  width: 15%;
  margin: 20px;
}

/* pricing-section */
#pricing {
  position: relative;
  bottom: 300px;
  padding: 100px;
  text-align: center;
}

.pricing-clmn {
  padding: 3% 2%;
}

/* call-to-action-section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 5% 15%;
  position: relative;
  bottom: 200px;
}

.cta-txt {
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.cta-btn {
  padding: 7% 10%;
}

/* Newsletter-signup */
#Newsletter{
  background-color: #ff4c68;
  width: 40rem;
  height: 20rem;
  margin: auto;
  position: relative;
  bottom: 150px;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}
.nws-txt{
  color: #fff;
  /* font-family: "Montserrat";
  font-weight: bold; */
  /* font-size: 2rem; */
  line-height: 1.5;
  padding: 7% 10%;
}
.nws-btn{
  position: relative;
  top: 15px;
}

/* footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 5% 7%;
  position: relative;
  bottom: 100px;
}

.footer-icons {
  margin: 10px;
}
